:root {
    --border-rounded: 0.5vw;
    --border-width: 0.15vw;   
}

.container-logo {
    margin: 15% 20%;
}

.logo {
    width: 20%;
}

.password-input > i {
    position: absolute;
    padding: 1%;
    margin-bottom: 1.5vh; 
}

.wrong-message {
    margin-top: -1vh;
    margin-bottom: 1.5vh;
    text-align: left;
    color: var(--red);
}

.center-in-screen {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-signin {
    min-height: auto;
    text-align: center;
    border-radius: var(--border-rounded);
    border-style: solid;
    border-width: var(--border-width);
}

.create-account {
    margin-top: 3.85%;
}

.input input {
    display: block;
    margin-bottom: 1.5vh;
    padding: 3% 3% 3% 6%;
    width: 100%;
    border-style: solid;
    border-width: 0.05vw;
    border-radius: var(--border-rounded);
    box-sizing: border-box; 
    font-size: var(--text-size);
}

.input {
    margin-bottom: 15%;
}

.left-align {
    display: block;
    text-align: left;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        color: var(--font-color-light);
    }

    input {
        background-color: var(--gray-light);
        border-color: white;
        color: black;
    }

    .background {
        background-color: var(--gray-light);
    }

    .theme {
        background-color: white;
        border-color: var(--border-color);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        color: var(--font-color-dark);
    }

    input {
        background-color: var(--dark);
        border-color: #dee2e6;
        color: white;
    }

    .background {
        background-color: var(--gray-dark);
    }

    .theme {
        background-color: var(--dark);
        border-color: #262626;
    }
}

/* Tablet responsive */
@media (min-aspect-ratio: 9/40) {   
    :root {
        --text-size: 0.70vh;
        --title-size: 1.5vh;
    } 

    .container-signin {
        width: 70%;
        padding: 0 5%;
        padding-bottom: 10%;
    }

    .password-input > i {
        transform: translateX(62.3vw);
    }
}

@media (min-aspect-ratio: 9/16) {   
    :root {
        --text-size: 1.5vh;
        --title-size: 3.15vh;
    } 

    .container-signin {
        width: 70%;
        padding: 0 5%;
        padding-bottom: 10%;
    }

    .password-input > i {
        transform: translateX(62.8vw);
    }
}

@media (min-aspect-ratio: 3/4) {   
    :root {
        --text-size: 1.5vh;
        --title-size: 3.15vh;
    } 

    .container-signin {
        width: 55%;
        padding: 0 5%;
        padding-bottom: 10%;
    }

    .password-input > i {
        transform: translateX(49.3vw);
    }
}

/* Desktop Responsive */
@media (min-aspect-ratio: 4/3) {
    :root {
        --text-size: 1.3vw;
        --title-size: 2.1vw;
    }

    .container-signin {
        width: 35%;
        padding: 0 3%;
        padding-bottom: 6%;
    }

    .password-input > i {
        transform: translateX(30.8vw);
    }
}

@media (min-aspect-ratio: 16/9) {
    :root {
        --text-size: 1.3vw;
        --title-size: 2.1vw;
    }

    .container-signin {
        width: 30%;
        padding: 0 3%;
        padding-bottom: 6%;
    }

    .password-input > i {
        transform: translateX(26.1vw);
    }
}

@media (min-aspect-ratio: 21/9) {
    :root {
        --text-size: 1vw;
        --title-size: 1.6vw;
    }

    .container-signin {
        width: 25%;
        padding: 0 3%;
        padding-bottom: 5%;
    }

    .password-input > i {
        transform: translateX(21.6vw);
    }
}